---
import SectionContainer from "@components/SectionContainer.astro"
import Subtitle from "@components/Subtitle.astro"

const ARTICLES = [
    {
        title: 'GORILA BLUE - PRENDELO HAINY',
        contentId: 'first-modal',
        class: "text-ij-depthblue md:aspect-[16/8] md:col-span-2 md:row-span-1 h-full",
        image:"/modals/modal-1/gorillablue.webp",
        imageClass: "w-full h-full object-cover md:max-h-none",
        action: "modal",
      
        
    },
    {
        title: 'BA',
        contentId: 'second-modal',
        class: "text-white md:col-start-3 md:row-span-2 md:h-full",
        image:"/modals/modal-2/And3r1.webp",
        imageClass: "w-full h-full object-cover md:max-h-none",
        action: "modal",
      
    },
    {
        title: 'LA H SESSION #1 X DANNY999',
        contentId: 'fourth-modal',
        class: "text-ij-blue md:h-row-span-1",
        image:"/collage-info/danny999.webp",
        imageClass: "w-full h-full object-cover",
        action: "modal",
       
    },
    {
        title: 'HACERLA MÍA - MAXIISALA',
        contentId: 'third-modal',
        class: "text-white md:h-row-span-1 md:h-full",
        image:"/thumbnails/hacerlamia.webp",
        imageClass: "w-full h-full object-cover",
        action: "modal",
        
    }
]
---


<SectionContainer>
    <Subtitle>Lo último de LUY </Subtitle>
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 gap-4 md:p-0">
      {
        ARTICLES.map(
          ({
            class: className,
            title,
            contentId,
            image,
            imageClass,
            action,
            
          }) =>
            action === "#" ? (
              <a
                target="_blank"
                class:list={[
                  "aspect-square w-full h-full rounded-2xl overflow-hidden relative group",
                  className,
                ]}
            
              >
                <div
                  class:list={[
                    "absolute inset-0 flex overflow-hidden p-0 w-full h-full items-center justify-center",
                  ]}
                >
                  <img
                    src={image}
                    alt=""
                    class:list={[
                      "transition-transform duration-300 ease-in-out group-hover:scale-120 w-full h-full object-cover",
                      imageClass,
                    ]}
                  />
                </div>
                <div class="absolute inset-0 p-4 flex flex-col justify-start items-start z-10">
                  <span class="font-extrabold text-2xlxl text-left text-pretty tracking-separated pr-2 md:max-w-64">
                    {title}
                  </span>
                </div>
              </a>
            ) : (
              <button
                class:list={[
                  "aspect-square w-full h-full rounded-2xl overflow-hidden relative group",
                  className,
                ]}
                data-content-id={contentId}
              >
                <div
                  class:list={[
                    "absolute inset-0 flex overflow-hidden p-0",
                    contentId === "first-modal"
                      ? "items-center justify-center"
                      : "",
                    contentId === "second-modal"
                      ? "items-start md:items-center"
                      : "",
                    contentId === "third-modal"
                      ? "items-end justify-center"
                      : "items-end justify-end",
                    contentId === "fourth-modal"
                      ? "items-end justify-center"
                      : "items-end justify-end", 
                  ]}
                >
                  <img
                    src={image}
                    alt=""
                    class:list={[
                      "transition-transform duration-300 ease-in-out group-hover:scale-110",
                      imageClass,
                      contentId === "first-modal"
                        ? " md:items-stretch md:justify-end"
                        : "",
                    ]}
                  />
                </div>
                <div class="absolute inset-0 p-4 flex flex-col justify-start items-start z-10">
                  <span class="font-bold text-lg text-left text-pretty tracking-separated pr-3 md:max-w-64">
                    {title}
                  </span>
                </div>
              </button>
            )
        )
      }
    </div>
  </SectionContainer>
  
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // modal
      const $modal = document.getElementById("infographic-modal")
      const $modalBody = document.getElementById("infographic-modal-body")
      const $btnModal = document.getElementById("btn-modal")
      const $body = document.body
  
      // buttons bento
      const $buttons = document.querySelectorAll("button[data-content-id]")
  
      const openModal = (id: string) => {
        const contentId = `infographic-${id}`
        const content = document.getElementById(contentId)
  
        if (content && $modalBody) {
          $modal?.classList.add("modal-active")
          $modalBody.replaceChildren(content.cloneNode(true))
  
          $modalBody.firstElementChild?.classList.replace("hidden", "flex")
  
          $body.style.overflow = "hidden"
        }
      }
  
      const closeModal = () => {
        if ($modal?.classList.contains("modal-active")) {
          $modal?.classList.remove("modal-active")
        }
  
        const currentContent = $modalBody?.firstChild
  
        if (currentContent) {
          $modalBody?.removeChild(currentContent)
        }
  
        $body.style.overflow = ""
      }
  
      const handleKeyDown = (event: KeyboardEvent) => {
        if (event.key === "Escape") {
          closeModal()
        }
      }
  
      $buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const id = button.getAttribute("data-content-id")
          if (id) openModal(id)
        })
      })
  
      $btnModal?.addEventListener("click", () => closeModal())
      document.addEventListener("keydown", handleKeyDown)
    })
  </script>