---
import SocialMediaLink from "@components/SocialMediaLink.astro";
import Icon from "@components/ui/Icon.astro";
import SectionContainer from "./SectionContainer.astro";

const hoverSocialNetworks = "md:transition-transform md:hover:scale-110";

---


<SectionContainer class="bg-black flex flex-col items-center justify-between md:flex-row md:p-4">
  <article
    class="w-full flex items-center justify-center gap-2 flex-wrap md:justify-start ms: py-4 "
  >
    <p class="text-xl text-primary tracking-[0.38px] leading-6 font-semibold">
      Contáctame!
    </p>

    <span class="flex items-center gap-2 md:order-2 md:ml-auto">

      <SocialMediaLink
        href="https://www.instagram.com/trip_boyflame/"
        class={hoverSocialNetworks}
        socialPlatform="Visítanos en TikTok."
      >
        <Icon name="Instagram" />
      </SocialMediaLink>
      <SocialMediaLink
        href="https://www.tiktok.com/@trip_boyflame"
        class={hoverSocialNetworks}
        socialPlatform="Visitame en TikTok."
      >
        <Icon name="Tiktok" />
      </SocialMediaLink>

      <SocialMediaLink
        href="https://www.youtube.com/@Trip_boyflame"
        class={hoverSocialNetworks}
        socialPlatform="Visítame en YouTube."
      >
        <Icon name="Youtube" />
      </SocialMediaLink>

      <!-- <SocialMediaLink
        href="https://x.com/"
        class={hoverSocialNetworks}
        socialPlatform="Visítame en X."
      >
        <Icon name="Twitter" />
      </FollowUsLink> -->

      <SocialMediaLink
        href="https://www.facebook.com/ohtrapstarj"
        class={hoverSocialNetworks}
        socialPlatform="Visítanos en Facebook."
      >
        <Icon name="Facebook" />
      </SocialMediaLink>
    </span>
  </article>
</SectionContainer>